*{
	padding: 0;
	margin: 0;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	box-sizing: border-box;
}
.Top{
	height: 109vh;
	width: 100%;
	background-image: url(../images/background.jpg);
	background-size: cover;
	background-position: center;
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}
.Logo{
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;	
}
span{
	color: #FFE62E;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: #FFE62E;
	transition: .4s;
}
.Button{
	background-color:#FFE62E;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s; 
}
.Button:hover{
	transform: scale(1.2);
}
.Details{
	position: absolute;
	top: 50%;
	left:8%;
	transform: translateY(-50%);
}
h1{
	color: white;
	margin: 20px 0px 20px;
	font-size: 75px;
}
h3{
	color: white;
	font-size: 25px;
	margin-bottom: 50px;
}
h4{
	color: #869008;
	letter-spacing: 2px;
	font-size: 20px;
}
.Newsletter form{
	width: 380px;
	max-width: 100%;
	position: relative;
}
.Newsletter form input:first-child{
	display: inline-block;
	width: 100%;
	padding: 14px 130px 14px 15px;
	border: 2px solid #FFE62E;
	outline: none;
	border-radius: 30px;
}
.Newsletter form input:last-child{
	position: absolute;
	display: inline-block;
	outline: none;
	border: none;
	padding: 10px 30px;
	border-radius: 30px;
	background-color:#FFE62E;
	color: white;
	box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
	top: 6px;
	right: 6px; 
}

.Land {
  margin-top: -6px;
  margin-left: 869px;
  margin-bottom: 0px;
  margin-right: 900px;
}

.About{
	width: 100%;
	padding: 100px 0px;
	background-color: #191919;
}
.About img{
	height: auto;
	width: 430px;
}
.About-content{
	width: 550px;
}
.Exact{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.About-content h2{
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.About-content h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.About-content p{
	color: #869008;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}
button{
	background-color:#FFE62E;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
button:hover{
	background-color: transparent;
	border: 2px solid #FFE62E;
	cursor: pointer;
}

.Service{
	background: #101010;
	width: 100%;
	padding: 100px 0px;
}
.Head h2{
	color: white;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}
.Box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.Slide{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.Slide i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #FFE62E;
}

.Rest {
background-color: yellow;
height: 50px;
margin-bottom: 15px;
border-radius: 5px;
}

.Sure {
  background-color: yellow;
  height: 50px;
  margin-bottom: 15px;
	border-radius: 5px;
}

.Exam {
  background-color: yellow;
  height: 50px;
  margin-bottom: 15px;
	border-radius: 5px;
}

h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}
.Paragraph p{
	color: #869008;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}
.Slide .button{
	background-color:#FFE62E;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}
.Slide .button:hover{
	background-color: transparent;
	border: 2px solid #FFE62E;
	cursor: pointer;
}
.Contact{
	width: 100%;
	height: 290px;
	background: #191919;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.Contact p{
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
}
.Contact .Button2{
	background-color:#FFE62E;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
.Contact .Button2:hover{
	background-color: transparent;
	border: 2px solid #FFE62E;
	cursor: pointer;
}
footer{
	position: relative;
	width: 100%;
	height: 400px;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.Socials{
	display: flex;
}
.Socials a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #FFE62E;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.Socials a:hover{
	transform: scale(1.3);
	transition: .3s;
}
.Final{
	position: absolute;
	color:#FFE62E;
	bottom: 35px;
	font-size: 14px; 
}
